body{
    color: #fff;
    background: #ff5532;
    background-repeat: no-repeat;
    background-image: url(decors.png);
    box-sizing: border-box;
}

body *{
    font-family: fantasy;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    margin:0;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: #fff;
}

p*{
    width: 50%;
}