<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BEHOLD! OR DON'T! 'CAUSE YOU CAN'T EXPECT</title>
    </head>
    <body>
        <h1>Are you sure?</h1>
        <button class="random">CLICK IT GODDAMIT</button>
        <p>Random0</p>
        <p>Random0</p>
        <p>Random0</p>
        <p>Random0</p>
        <p>Random0</p>
        <p>Random0</p>
        <p>Random0</p>
        <p>Random0</p>
        <p>Random0</p>
        <p>Random0</p>
        <p>Random0</p>
    </body>
</html>